@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c; /* Mudança de fundo para grafite escuro */
  color: #ffffff; /* Mudança de texto para branco */
  margin: 0;
  font-family: 'Montserrat', sans-serif; /*Mudança de fonte*/
}

.login-conteiner {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.login-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh;
  background-image: url("../images/bg.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-shadow: 4px 4px 4px #00000040;
  transition: background-position 1s;
  animation: slide 90s linear alternate-reverse infinite;
}

.login-text-content h2 {
  margin: 10px;
  font-size: 42px;
}

.login-text-content p {
  margin: 10px;
  font-size: 20px;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex: 1;
  background-color: #1c1c1c;
  color: #ffffff;
}

.login-form-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  min-width: 90%;
}

.login-form-content img {
  align-self: flex-start;
  margin-bottom: 35px;
}

.login-form-content a {
  align-self: flex-end;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 20px;
}

a:hover {
  color: #00b7bc;
}

.login-form-content form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #2a2a2a;; /* Add fundo escuro*/
  color: #ffffff;
  border: solid 1px #00b7bc;
  border-radius: 5px;
}

form button {
  width: 100%;
  padding: 20px 0;
  border-radius: 40px;
  background: linear-gradient(180deg, #0B9DCA 0%, #00B7BC 100%);
  align-self: stretch;
  color: #ffffff;
  cursor: pointer;
  border: none;
  box-shadow: 4px 4px 4px #00000040;
}

.login-form-divider {
  color: #888888;
  border-bottom: solid 1px #888888;
  align-items: stretch;
}

.login-form-divider div {
  position: relative;
  width: 150px;
  top: 10px;
  left: calc(50% - 75px);
  text-align: center;
  background-color: #1c1c1c;
  color: #ffffff;
}

.login-form-google {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  width: 100%;
  height: 50px;
}

#google-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: solid 1px #444444;
  border-radius: 40px;
  padding: 20px;
  background-color: #504a4a8e;
  color: #ffffff;
}

#google-icon {
  background-image: url("../images/Google__G__logo.svg.png");
  background-size: 40px;
  width: 40px;
  height: 40px;
}

.login-form-microsoft {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
}

.microsoft-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  border: solid 1px #444444;
  border-radius: 40px;
  padding: 20px;
  background-color: #504a4a8e;
  color: #ffffff;
}

.microsoft-icon {
  background-image: url("../images/icons8-microsoft-48.png");
  background-size: 39px;
  width: 40px;
  height: 40px;
}

.login-form-subscribe {
  align-self: center;
  color: #ffffff;
}

.login-form-subscribe a {
  color: #00b7bc;
}

.login-form-subscribe a:hover {
  color: #0B9DCA;
}

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@media screen and (max-width: 768px) {
  .login-conteiner {
    flex-direction: column;
  }

  .login-text {
    flex: 1;
  }

  .login-text-content h2 {
    font-size: 1.6rem;
  }

  .login-text-content p {
    font-size: 1rem;
  }

  .login-form {
    flex: 4;
  }

  .login-form-content {
    min-width: 90%;
  }
}
